<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">ORGANISATIONS</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="organisations">Organisation</a></li>
          <li class="breadcrumb-item active">Liste des organisations</li>
        </ol>
      </div>

      <div class="col-md-7 col-4 align-self-center">
        <a href="https://themewagon.com/themes/bootstrap-4-responsive-admin-template/" class="btn waves-effect waves-light btn-success pull-right hidden-sm-down">AJOUTER UNE ORGANISATION</a>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row mb-5 card-warning p-2 bg-white" >
      <div class="col-lg-3 mt-3">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>REGIONS</option>
            <option>DAKAR</option>
            <option>THIES</option>
            <option>LOUGA</option>
            <option>MATAM</option>
          </select>
        </div>
      </div>

      <div class="col-lg-3 mt-3">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect2">
            <option>TYPE</option>
            <option>DAKAR</option>
            <option>THIES</option>
            <option>LOUGA</option>
            <option>MATAM</option>
          </select>
        </div>
      </div>

      <div class="col-lg-3 mt-3">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect3">
            <option>STATUS</option>
            <option>DAKAR</option>
            <option>THIES</option>
            <option>LOUGA</option>
            <option>MATAM</option>
          </select>
        </div>
      </div>

      <div class="col-lg-3 mt-3">
        <a href="#" class="btn btn-primary">FILTRER</a>
      </div>


    </div>

    <!-- Row -->
    <div class="row mt-5">
      <!-- Column -->
      <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-block">
            <div class="m-t-30" style="text-align: center;">
              <h6 class="card-title mt-3"><b>GAINDE 2000</b></h6>
              <img src="assets/images/qrcode.png" alt="d" class="shadow" width="" />
              <a routerLink="organisation-details" class="btn btn-outline-primary">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-block">
            <div class="m-t-30" style="text-align: center;">
              <h6 class="card-title mt-3"><b>INTOUCH</b></h6>
              <img src="assets/images/qrcode.png" alt="d" class="shadow" width="" />
              <a href="#" class="btn btn-outline-primary">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->

      <!-- Column -->
      <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-block">
            <div class="m-t-30" style="text-align: center;">
              <h6 class="card-title mt-3"><b>TEAM X</b></h6>
              <img src="assets/images/qrcode.png" alt="d" class="shadow" width="" />
              <a href="#" class="btn btn-outline-primary">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->

      <!-- Column -->
      <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-block">
            <div class="m-t-30" style="text-align: center;">
              <h6 class="card-title mt-3"><b>BAMTU</b></h6>
              <img src="assets/images/qrcode.png" alt="d" class="shadow" width="" />
              <a href="#" class="btn btn-outline-primary">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->

      <!-- Column -->
      <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-block">
            <div class="m-t-30" style="text-align: center;">
              <h6 class="card-title mt-3"><b>EPT</b></h6>
              <img src="assets/images/qrcode.png" alt="d" class="shadow" width="" />
              <a href="#" class="btn btn-outline-primary">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->

      <!-- Column -->
      <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-block">
            <div class="m-t-30" style="text-align: center;">
              <h6 class="card-title mt-3"><b>CRI</b></h6>
              <img src="assets/images/qrcode.png" alt="d" class="shadow" width="" />
              <a href="#" class="btn btn-outline-primary">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->

    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->


  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->

</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
