<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">ORGANISATIONS</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="organisations">Organisation</a></li>
          <li class="breadcrumb-item active">Présentation</li>
        </ol>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
          <div class="card-block">
            <div class="m-t-30" style="text-align: center;">
              <img [src]="'data:image/jpeg;base64,' +organisation.qrCode" alt="d" class="shadow" width="" />
              <h6 class="card-title mt-3"><b>{{organisation.name}}</b></h6>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
          <div class="card-block">
            <form class="form-horizontal form-material">
              <div class="form-group">
                <label class="col-md-12">Nom</label>
                <div class="col-md-12">
                  <input type="text" placeholder="{{organisation.name}}" disabled class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Email</label>
                <div class="col-md-12">
                  <input type="text" placeholder="{{organisation.email}}" disabled class="form-control form-control-line">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12">Boite Postal</label>
                <div class="col-md-12">
                  <input type="text" placeholder="{{organisation.boitePostal}}" disabled class="form-control form-control-line">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12">Secteur</label>
                <div class="col-md-12">
                  <input type="text" placeholder="{{organisation.secteur}}" disabled class="form-control form-control-line">
                </div>
              </div>

              <a routerLink="organisation-details" class="btn btn-success ml-5 mr-5">EDITER</a>
              <a routerLink="organisation-details" class="btn btn-danger">SUPPRIMER</a>

            </form>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Localisation</h4>
            <google-map [options]="mapOptions" width="100%">
              <map-marker *ngFor="let spot of spots"
                          [position]="{ lat: spot.lat, lng: spot.lng }"
                          [options]="markerOptions"></map-marker>
            </google-map>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5 card-warning p-2 bg-white" >
      <div class="col-lg-2 mt-3">
        <div class="form-group">
          <h5 class="card text-center p-3">Nombre de Lettres Total</h5>
          <h3 class="text-center"><b>43</b></h3>
        </div>
      </div>
      <div class="col-lg-2 mt-3">
        <div class="form-group">
          <h5 class="card text-center p-3">Moyenne Lettres Par Jour</h5>
          <h3 class="text-center"><b>4</b></h3>
        </div>
      </div>

      <div class="col-lg-2 mt-3">
        <div class="form-group">
          <h5 class="card text-center p-3">Moyenne Lettres Par Mois</h5>
          <h3 class="text-center"><b>20</b></h3>
        </div>
      </div>

      <div class="col-lg-2 mt-3">
        <div class="form-group">
          <h5 class="card text-center p-3">Nombre de Reports Total</h5>
          <h3 class="text-center"><b>65</b></h3>
        </div>
      </div>

      <div class="col-lg-2 mt-3">
        <div class="form-group">
          <h5 class="card text-center p-3">Moyenne Reports Par Jour</h5>
          <h3 class="text-center"><b>6</b></h3>
        </div>
      </div>

      <div class="col-lg-2 mt-3">
        <div class="form-group">
          <h5 class="card text-center p-3">Nombre de Reports Par Mois</h5>
          <h3 class="text-center"><b>30</b></h3>
        </div>
      </div>


    </div>

    <!-- Row -->



  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->

</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
