<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">ORGANISATIONS</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="organisations">Organisation</a></li>
          <li class="breadcrumb-item active">BOITE A LETTRE DETAILS</li>
        </ol>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Column -->
    <div class="card">
      <div class="card-block little-profile text-center">
        <div class="pro-img mt-5"><img src="assets/images/boite.jpg" alt="user" /></div>
        <h3 class="m-b-0">LETTRE</h3>
        <p>ADL (AGENCE DE DEVELOPPEMENT LOCAL)</p>
        <hr>
        <div class="row text-center m-t-20">
          <div class="col-lg-2">
           <img width="110px" height="110px" src="assets/images/lettre.jpg">
          </div>
          <div class="col-lg-7 mt-3">
            <p class="card p-3">
              {{boite.message}}
            </p>
          </div>
        </div>
        <hr>
        <!-- Column -->

      </div>
      <!-- Row -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->


    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->

  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->


